<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="col-sm-6 mx-auto">
        <h3 class="mt-4">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form th:action="@{/newuserregister}" method="post">
            <div class="mb-3">
                <label for="firstName" class="form-label">User Name</label>
                <input type="text" name="username" id="firstName" required placeholder="Your Username*" class="form-control form-control-lg">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control form-control-lg" required minlength="6" placeholder="Email*" name="email" id="email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-lg" required placeholder="Password*" name="password" id="password">
            </div>
            <div class="mb-3">
                <label for="Address" class="form-label">Address</label>
                <textarea class="form-control form-control-lg" rows="3" placeholder="Enter Your Address" name="address"></textarea>
            </div>
            <span>Already have an account <a th:href="@{/userLogin}">Login here</a></span><br><br>
            <input type="submit" value="Register" class="btn btn-primary w-100"><br>
            <div th:if="${msg}" class="mt-3 text-danger text-center" th:text="${msg}"></div>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>